
{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<h1>WELCOME TO JAVA<h1>
<p>MCA 102: Object Oriented Programming with Java </p></br>
<p>
UNIT-I  
Introduction: Object Oriented Programming Concepts, Features of Java Language, Architecture, Data Types, 
Variables, Operators, Control Structures, Arrays. Classes: Classes, Wrapper Classes, Constructors, 
Overloading of methods, Access control, Nested and Inner classes, Abstract classes. Inheritance: Inheritance 
basics, Using Super, Multilevel hierarchy, Method overriding, Dynamic method dispatch, Final with 
inheritance. 
  </p>
{% endblock %}